[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "grate"
verify_ssl = true
name = ""

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-restful = "*"
faker = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.8"
